﻿body {
    background-color: #B5D7BC;
    background-image: url('reportB.jpg');
    background-repeat: no-repeat;
    background-attachment: inherit;
}

#block1 {
    width: 1020px;
    padding: 10px;
    border: 1px solid gray;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    position: relative;
    height: 750px;
    background-color: #96FFA0;
}

#Button1 {
    top: 180px;
    left: 360px;
    position: absolute;
    width: 300px;
    font-family: Arial;
    font-size: x-large;
    color: #006600;
    background-color: #00CC99;
    text-align: center;
    height: 60px;
}

#Button2 {
    top: 260px;
    left: 360px;
    position: absolute;
    width: 300px;
    font-family: Arial;
    font-size: x-large;
    color: #006600;
    background-color: #00CC99;
    text-align: center;
    height: 60px;
}


#Label1 {
    top: 12px;
    left: 200px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #006600;
    font-weight: normal;
}
#Label4 {
    top: 70px;
    left: 400px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #006600;
    font-weight: normal;
}

#HyperLink1 {
    left: 900px;
    top: 20px;
    font-size: 20px;
    color: #008000;
    position: absolute;
    text-decoration: underline;
}

#Label2 {
    top: 340px;
    left: 360px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    /*color: #006600;*/
    font-weight: normal;
}

#Button3 {
    top: 420px;
    left: 360px;
    position: absolute;
    width: 300px;
    font-family: Arial;
    font-size: x-large;
    color: #006600;
    background-color: #00CC99;
    text-align: center;
    height: 60px;
}

#Button4 {
    top: 500px;
    left: 360px;
    position: absolute;
    width: 300px;
    font-family: Arial;
    font-size: x-large;
    color: #006600;
    background-color: #00CC99;
    text-align: center;
    height: 60px;
}

#Label3 {
    top: 580px;
    left: 360px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #006600;
    font-weight: normal;
}

#Label5 {
    top: 640px;
    left: 300px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #006600;
    font-weight: normal;
}


