﻿body {
    background-color: #B5D7BC;
    background-image: url('reportB.jpg');
    background-repeat: no-repeat;
    background-attachment: inherit;
}

#block1 {
    width: 1020px;
    padding: 10px;
    border: 1px solid gray;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    position: relative;
    height: 900px;
    background-color: #96FFA0;
}

#img1 {
    position: absolute;
    top: 142px;
    left: 410px;
}

#Label1 {
    top: 12px;
    left: 382px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #006600;
    font-weight: normal;
}

#HyperLink1 {
    left: 900px;
    top: 20px;
    font-size: 20px;
    color: #008000;
    position: absolute;
    text-decoration: underline;
}

#Button1 {
    top: 76px;
    position: absolute;
    width: 70px;
    left:748px;
}

#btnNewRef {
    top: 75px;
    position: absolute;
    width: 100px;
    left: 850px;
}

#DropDownList1 {
    position: absolute;
    top: 76px;
    left: 295px;
    width: 150px;
    font-size: small;
    right: 595px;
}

#TextBox1 {
    position: absolute;
    top: 75px;
    left: 454px;
    width: 280px;
    font-size: small;
}

#lblWarning {
    position: absolute;
    top:100px;
    left: 455px;
    font-size: medium;
}

#lblError {
    position: absolute;
    top: 250px;
    left: 382px;
    font-size: 40px;
}


#lblTitle1 {
    top: 420px;
    left: 400px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #006600;
    font-weight: normal;
}

#txtReferralId {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6px;
    color: #96FFA0;
    font-weight: normal;
    background-color: #96FFA0;
}

#txtAddressId {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6px;
    color: #96FFA0;
    font-weight: normal;
    background-color: #96FFA0;
}

#txtRfrrlId {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6px;
    color: #96FFA0;
    font-weight: normal;
    background-color: #96FFA0;
}


#lblRefCode{
    top:473px;
    left: 25px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtRefCode{
    position: absolute;
    top: 470px;
    left: 128px;
    width: 60px;
    font-size: small;
}

#lblIata {
    top: 473px;
    left: 220px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtIata {
    position: absolute;
    top: 470px;
    left: 260px;
    width: 60px;
    font-size: small;
}

#lblMarkCode {
    top: 473px;
    left: 350px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtMarkCode{
    position: absolute;
    top: 469px;
    left: 444px;
    width: 50px;
    font-size: small;
}

#lblName {
    top: 473px;
    left: 520px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtName {
    position: absolute;
    top: 470px;
    left: 568px;
    width: 370px;
    font-size: small;
}

#lblSegmCode {
    top: 508px;
    left: 20px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#ddlSegmCode {
    position: absolute;
    top: 505px;
    left: 130px;
    width: 200px;
    font-size: small;
}

#lblMaster {
    top: 508px;
    left:350px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#ddlMaster {
    position: absolute;
    top: 505px;
    left: 404px;
    width: 220px;
    font-size: small;
}

#lblProgram {
    top: 508px;
    left: 644px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#ddlProgram {
    position: absolute;
    top: 505px;
    left: 714px;
    width:110px;
    font-size: small;
}

#lblSplitPerc {
    top: 508px;
    left:850px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtSplitPerc {
    position: absolute;
    top: 506px;
    left: 950px;
    width: 50px;
    font-size: small;
}

#lblOpenDate {
    top: 543px;
    left: 50px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtOpenDate {
    position: absolute;
    top: 540px;
    left: 127px;
    width: 120px;
    font-size: small;
}

#img1 {
    position: absolute;
    top: 543px;
    left: 260px;
}

#lblCloseDate {
    top: 543px;
    left: 320px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtCloseDate {
    position: absolute;
    top: 540px;
    left: 404px;
    width: 120px;
    font-size: small;
}

#img2 {
    position: absolute;
    top: 543px;
    left:534px;
    }

#lblSalesPerson {
    top: 543px;
    left: 614px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#ddlSalesPerson {
    position: absolute;
    top: 540px;
    left: 715px;
    width: 230px;
    font-size: small;
}

#lblContact {
    top: 578px;
    left: 70px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtContact {
    position: absolute;
    top: 575px;
    left: 129px;
    width:195px;
    font-size: small;
}

#lblTitle2 {
    top: 600px;
    left: 400px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #006600;
    font-weight: normal;
}

#lblStreet {
    top: 643px;
    left: 35px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtStreet {
    position: absolute;
    top: 640px;
    left: 130px;
    width: 200px;
    font-size: small;
}

#lblNumber {
    top: 643px;
    left: 350px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtNumber {
    position: absolute;
    top: 640px;
    left:410px;
    width: 60px;
    font-size: small;
}

#lblApt {
    top: 643px;
    left: 550px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtApt {
    position: absolute;
    top: 640px;
    left:620px;
    width: 60px;
    font-size: small;
}

#lblCity {
    top: 643px;
    left: 730px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtCity {
    position: absolute;
    top: 640px;
    left: 765px;
    width: 170px;
    font-size: small;
}

#lblProv {
    top: 678px;
    left: 50px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtProv {
    position: absolute;
    top: 675px;
    left: 130px;
    width: 200px;
    font-size: small;
}

#lblCountry {
    top: 678px;
    left: 350px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtCountry {
    position: absolute;
    top: 675px;
    left: 410px;
    width: 100px;
    font-size: small;
}

#lblPCode {
    top: 678px;
    left: 530px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtPCode {
    position: absolute;
    top: 675px;
    left: 620px;
    width: 100px;
    font-size: small;
}

#lblLocation {
    top: 678px;
    left: 740px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#ddlLocation {
    position: absolute;
    top: 675px;
    left: 810px;
    width: 190px;
    font-size: small;
}

#lblPhone {
    top: 713px;
    left: 75px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtPhone {
    position: absolute;
    top: 710px;
    left: 131px;
    width: 120px;
    font-size: small;
}

#lblFax {
    top: 713px;
    left:370px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtFax {
    position: absolute;
    top: 710px;
    left: 410px;
    width: 120px;
    font-size: small;
}

#lblSite {
    top: 713px;
    left:585px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtSite {
    position: absolute;
    top: 710px;
    left: 620px;
    width: 320px;
    font-size: small;
}

#lblWarningDates {
    top: 750px;
    position: absolute;
    left: 370px;
    font-size: 20px;
}

#btnSave {
    top: 740px;
    position: absolute;
    width: 100px;
    height: 40px;
    left: 850px;
    font-weight:bold;
    font-size:medium;
}

#lblTitle3 {
    top: 790px;
    left: 350px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #006600;
    font-weight: normal;
}

#lblDiscountId {
    top: 843px;
    left: 35px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#txtDiscountId {
    position: absolute;
    top: 840px;
    left: 130px;
    width: 120px;
    font-size: small;
}

#lblTARates {
    top: 844px;
    left: 276px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#ddlTARates {
    top: 840px;
    left: 350px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: normal;
}

#lblNatLocal {
    top: 844px;
    left: 417px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
}

#ddlNatLocal {
    top: 840px;
    left: 525px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: normal;
}

#lblCityI {
    top: 844px;
    left: 585px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #006600;
    font-weight: normal;
    height: 18px;
}

#ddlCityI {
    top: 840px;
    left: 620px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: normal;
    width: 170px;
}

#btnCreateCoupon {
    top: 830px;
    position: absolute;
    width: 140px;
    height: 40px;
    left: 810px;
    font-weight: bold;
    font-size: medium;
}

#lblCouponResult {
    top: 880px;
    left: 150px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #006600;
    font-weight: normal;
}

