﻿body
{
	background-position: center 0px;
	background-color: #B5D7BC;
	background-image: url('Parking.jpg');
	background-repeat: no-repeat;}
#block1
{
	width: 1020px;
	padding: 10px;
	border: 1px solid gray;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	top: 20px;
	position: relative;
	height: 850px;
	background-color: #96FFA0;
}

#Label1
{
	top: 30px;
	left: 300px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	color: #006600;
	font-weight: normal;
}
#Label2
{
	top: 150px;
	left: 50px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
}
#DropDownList1
{
	top: 150px;
	left: 240px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	/*color: #006600;*/
	font-weight: normal;
}
#Label3
{
	top: 150px;
	left: 540px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
}
#Label32
{
	top: 150px;
	left: 430px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
}
#DropDownList2
{
	top: 150px;
	left: 730px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px; /*color: #006600;*/
	font-weight: normal;
	width: 100px;
}
#Label4
{
	top: 190px;
	left: 50px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
}
#Label5
{
	top: 190px;
	left: 540px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
}
#Label6
{
	top: 230px;
	left: 50px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
}
#DropDownList3
{
	top: 230px;
	left: 240px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px; /*color: #006600;*/
	font-weight: normal;
	width: 100px;
}
#Label7
{
	top: 230px;
	left: 540px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
}
#TextBox1
{
	top: 230px;
	left: 730px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	width: 100px;
}
#Label8
{
	top: 350px;
	left: 240px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
}
#TextBox2
{
	top: 270px;
	left: 250px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	width: 100px;
	right: 682px;
}
#DivFirst
{
	top: 352px;
	left: 430px;
	position: absolute;
	border: 1px solid #008000;
	width: 280px;
	height: 22px;
}
#Div1
{
	left: 0px;
	position: absolute;
}
#Div2
{
	left: 40px;
	position: absolute;
}
#Div3
{
	left: 80px;
	position: absolute;
}
#Div4
{
	left: 120px;
	position: absolute;
}
#Div5
{
	left: 160px;
	position: absolute;
}
#Div6
{
	left: 200px;
	position: absolute;
}
#Div7
{
	left: 240px;
	position: absolute;
}

#Label9
{
	top: 310px;
	left: 240px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
}
#TextBox3
{
	top: 270px;
	left: 750px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	width: 100px;
}
#DivSecond
{
	top: 312px;
	left: 430px;
	position: absolute;
	border: 1px solid #008000;
	width: 280px;
	height: 22px;
}
#Div8
{
	left: 0px;
	position: absolute;
}
#Div9
{
	left: 40px;
	position: absolute;
}
#Div10
{
	left: 80px;
	position: absolute;
}
#Div11
{
	left: 120px;
	position: absolute;
}
#Div12
{
	left: 160px;
	position: absolute;
}
#Div13
{
	left: 200px;
	position: absolute;
}
#Div14
{
	left: 240px;
	position: absolute;
}

#DivCalculate
{
	border-style: double;
	top: 312px;
	left: 750px;
	position: absolute;
	width: 200px;
	height: 60px;
}

#txtPerc
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	position: absolute;
	width: 40px;
	top: 25px;
	left: 10px;

}

#Label31
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	position: absolute;
	width: 40px;
	top: 30px;
	left: 55px;
}

#Button3
{
	font-size: 18px;
	font-weight: normal;
	color: #006600;
	position: absolute;
	top:  25px;
	left: 80px;
	width: 100px;
	height: 30px;
}

#Label10
{
	top: 270px;
	left: 50px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
}
#TextBox4
{
	top: 270px;
	left: 240px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	width: 100px;
}
#Label11
{
	top: 270px;
	left: 540px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
}
#TextBox5
{
	top: 270px;
	left: 730px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	width: 100px;
}
#Label12
{
	top: 400px;
	left: 50px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
}
#Label13
{
	top: 400px;
	left: 200px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: bold;
}
#Label14
{
	top: 400px;
	left: 350px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: bold;
	right: 636px;
}
#Label15
{
	top: 400px;
	left: 505px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: bold;
}
#Label16
{
	top: 400px;
	left: 650px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: bold;
}
#Label17
{
	top: 400px;
	left: 800px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: bold;
}
#Label18
{
	top: 430px;
	left: 50px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
}
#Label19
{
	top: 430px;
	left: 200px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	text-align: center;
	width: 60px;
	right: 780px;
}
#Label20
{
	top: 430px;
	left: 350px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	text-align: center;
	width: 60px;
}
#Label21
{
	top: 430px;
	left: 500px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	text-align: center;
	width: 70px;
}
#Label22
{
	top: 430px;
	left: 650px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	text-align: center;
	width: 70px;
}
#Label23
{
	top: 430px;
	left: 830px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
}

#Label24
{
	top: 465px;
	left: 50px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
}

#Label26
{
	top: 500px;
	left: 50px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #006600;
	font-weight: normal;
}

#Label27
{
	top: 500px;
	left: 200px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #006600;
	font-weight: normal;
	text-align: left;
	width: 140px;
	right: 780px;
}
#Label28
{
	top: 500px;
	left: 350px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #006600;
	font-weight: normal;
	text-align: left;
	width: 140px;
}
#Label29
{
	top: 500px;
	left: 500px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #006600;
	font-weight: normal;
	text-align: left;
	width: 140px;
}
#Label30
{
	top: 500px;
	left: 650px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #006600;
	font-weight: normal;
	text-align: left;
	width: 140px;
}

#TextBox6
{
	top: 460px;
	left: 200px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	width: 60px;
	text-align: center;
	right: 772px;
}

#CheckBox16
{
	top: 465px;
	left: 180px;
	position: absolute;
}

#TextBox7
{
	top: 460px;
	left: 350px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	width: 60px;
	text-align: center;
}

#CheckBox17
{
	top: 465px;
	left: 330px;
	position: absolute;
}

#TextBox8
{
	top: 460px;
	left: 500px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	width: 70px;
	text-align: center;
}

#CheckBox18
{
	top: 465px;
	left: 480px;
	position: absolute;
}

#TextBox9
{
	top: 460px;
	left: 650px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	width: 70px;
	text-align: center;
}

#CheckBox19
{
	top: 465px;
	left: 630px;
	position: absolute;
}

#TextBox10
{
	top: 460px;
	left: 810px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	width: 60px;
	text-align: center;
}
#Label25
{
	top: 550px;
	left: 50px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
}
#TextBox11
{
	top: 575px;
	left: 50px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	width: 900px;
	text-align: left;
	height: 150px;
	vertical-align: top;
}
#Button1
{
	font-size: large;
	font-weight: normal;
	color: #006600;
	position: absolute;
	top: 750px;
	left: 750px;
	width: 200px;
	height: 50px;
}
#TextBox12
{
	top: 190px;
	left: 240px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	width: 120px;
}
#img1
{
	top: 190px;
	left: 370px;
	position: absolute;
	width: 30px;
	height: 30px;
}
#TextBox13
{
	top: 190px;
	left: 730px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006600;
	font-weight: normal;
	width: 120px;
}
#img2
{
	top: 190px;
	left: 860px;
	position: absolute;
	width: 30px;
	height: 30px;

}
#HyperLink1
{
	left: 900px;
	top: 30px;
	font-size: 20px;
	color: #008000;
	position: absolute;
	text-decoration: underline;
}
#Button2
{
	font-size: large;
	font-weight: normal;
	color: #006600;
	position: absolute;
	top:  810px;
	left: 750px;
	width: 200px;
	height: 50px;
}
#Button6
{
	font-size: large;
	font-weight: normal;
	color: #006600;
	position: absolute;
	top:  810px;
	left: 450px;
	width: 200px;
	height: 50px;
}