﻿body
{
	background-position: center 10px;
	background-color: #EAFFEA;
	background-image: url('toronto_office.jpg');
	background-repeat: no-repeat;
}
#BlockL
{
	width: 400px;
	padding: 10px;
	border: 3px solid #008080;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	top: 270px;
	position: relative;
	height: 190px;
	background-color: #96FFA0;
}
#Label1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	position: relative;
	top: 10px;
	right: -50px;
	font-style: italic;
	color: #006600;
}
#Label4
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	position: absolute;
	top: 55px;
	left: 40px;
	font-style: italic;
	color: #CC3300;
	font-weight: bold;
}
#Label2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	position: absolute;
	top: 80px;
	left: 30px;
	color: #006600;

}
#Label3
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	position: absolute;
	top: 115px;
	left: 30px;
	color: #006600;

}
#TextBox1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 75px;
	left: 140px;
}
#TextBox2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 110px;
	left: 140px;
}
#Button1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #006600;
	position: absolute;
	top: 155px;
	left: 160px;
	width: 80px;
}
#Button2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #006600;
	position: absolute;
	top: 155px;
	left: 280px;
	width: 80px;
}

