﻿body
{
	background-color: #B5D7BC;
	background-image: url('reportB.jpg');
	background-repeat: no-repeat;
	background-attachment: inherit;
}
#block1
{
	width: 1020px;
	padding: 10px;
	border: 1px solid gray;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	top: 20px;
	position: relative;
	height: 900px;
	background-color: #96FFA0;
}
#Button1
{
	top: 73px;
	left: 749px;
	position: absolute;
	width: 70px;
}
#Label1
{
	top: 12px;
	left: 381px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	color: #006600;
	font-weight: normal;
}

#DropDownList1
{
	position: absolute;
	top: 75px;
	left: 230px;
	width: 500px;
	font-size: small;
}
#DropDownList2
{
	position: absolute;
	top: 140px;
	left: 120px;
	width: 200px;
	font-size: small;
}
#Label2
{
	position: absolute;
	top: 140px;
	left: 50px;
	width: 60px;
	font-size: medium;
}
#Label3
{
	position: absolute;
	top: 140px;
	left: 325px;
	width: 120px;
	font-size: medium;
	text-align: right;
}
#TextBox1
{
	position: absolute;
	top: 140px;
	left: 450px;
	width: 110px;
	font-size: small;

}
#RegularExpressionValidator1
{
	position: absolute;
	top: 140px;
	left: 820px;
	width: 160px;
	font-size: medium;
	color: red;
}
#txtRequiredValidator
{
	position: absolute;
	top: 140px;
	left: 820px;
	width: 180px;
	font-size: medium;
	color: red;
}
#Button2
{
	top: 12px;
	left: 900px;
	position: absolute;
	width: 100px;
	height: 30px;
	color: #006600;
	background-color: #00CC99;
	font-size: 18px;
}
#HyperLink1
{
	left: 900px;
	top: 20px;
	font-size: 20px;
	color: #008000;
	position: absolute;
	text-decoration: underline;
}

#Label4
{
	position: absolute;
	top: 140px;
	left: 200px;
	width: 100px;
	font-size: medium;
}
#Label5
{
	position: absolute;
	top: 140px;
	left: 550px;
	width: 100px;
	font-size: medium;
}
#TextBox2
{
	position: absolute;
	top: 140px;
	left: 280px;
	width: 120px;
	font-size: small;
}
#TextBox3
{
	position: absolute;
	top: 140px;
	left: 630px;
	width: 120px;
	font-size: small;
}
#img1
{
	position: absolute;
	top: 142px;
	left: 410px;
}
#img2
{
	position: absolute;
	top: 142px;
	left: 760px;
}

#Label6
{
	position: absolute;
	top: 140px;
	left: 570px;
	width: 100px;
	font-size: medium;
}
#TextBox4
{
	position: absolute;
	top: 140px;
	left: 640px;
	width: 120px;
	font-size: small;
}
#img3
{
	position: absolute;
	top: 142px;
	left: 770px;
}
#DropDownList3
{
	position: absolute;
	top: 140px;
	left: 120px;
	width: 200px;
	font-size: small;
}
#Label7
{
	position: absolute;
	top: 140px;
	left: 795px;
	width: 100px;
	font-size: medium;
}
#TextBox5
{
	position: absolute;
	top: 140px;
	left: 870px;
	width: 120px;
	font-size: small;
}
#img4
{
	position: absolute;
	top: 142px;
	left: 1000px;
}
