﻿body
{
	/*background-position: center;*/
	background-position: center 0px;
	background-color: #B5D7BC;
	background-image: url('map1.jpg');
	background-repeat: no-repeat;
}
#block1
{
	width: 600px;
	padding: 10px;
	border: 1px solid gray;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	top: 200px;
	left: -80px;
	position: relative;
	height: 450px;
	background-color: #96FFA0;
}

#Label1
{
	top: 20px;
	left: 200px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	color: #006600;
	font-weight: normal;
}

#Button1
{
	top: 120px;
	left: 105px;
	position: absolute;
	width: 400px;
	font-family: Arial;
	font-size: x-large;
	color: #006600;
	background-color: #00CC99;
	text-align: center;
	height: 40px;
}

#Button4
{
	top: 165px;
	left: 105px;
	position: absolute;
	width: 400px;
	font-family: Arial;
	font-size: x-large;
	color: #006600;
	background-color: #00CC99;
	text-align: center;
	height: 40px;
}

#Button2
{
	top: 210px;
	left: 105px;
	position: absolute;
	width: 400px;
	font-family: Arial;
	font-size: x-large;
	color: #006600;
	background-color: #00CC99;
	text-align: center;
	height: 40px;
}
#Button3
{
	top: 390px;
	left: 105px;
	position: absolute;
	width: 400px;
	font-family: Arial;
	font-size: x-large;
	color: #006600;
	background-color: #00CC99;
	text-align: center;
	height: 40px;
}

#Button5
{
	top: 255px;
	left: 105px;
	position: absolute;
	width: 400px;
	font-family: Arial;
	font-size: x-large;
	color: #006600;
	background-color: #00CC99;
	text-align: center;
	height: 40px;
}

#Button6
{
	top: 300px;
	left: 105px;
	position: absolute;
	width: 400px;
	font-family: Arial;
	font-size: x-large;
	color: #006600;
	background-color: #00CC99;
	text-align: center;
	height: 40px;
}

#Button7 {
    top: 345px;
    left: 105px;
    position: absolute;
    width: 400px;
    font-family: Arial;
    font-size: x-large;
    color: #006600;
    background-color: #00CC99;
    text-align: center;
    height: 40px;
}